---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

    <div class="pt-32 flex justify-center w-full bg-cyan-100">

        <div class="text-center p-10">
            <h1 class="text-9xl ">404</h1>
            <img src="/images/construccion.webp" alt="" class="w-[60%] mx-auto mb-6 drop-shadow-lg">
            <div class="transition-all hover:scale-105">
                <a href="/" class="bg-red-400 rounded-full px-4 py-2 text-white
                 hover:bg-red-600 text-xl">
                    Volver al Inicio
                </a>
            </div>
        </div>
        

    </div>

    
</MainLayout>