---

import Aboutcomponent from "../components/aboutcomponent.astro";
import Hero2 from "../components/hero2.astro";
import Misionyvision from "../components/misionyvision.astro";
import ObjetivosComponent from "../components/objetivosComponent.astro";
import PersonalComponent from "../components/personalComponent.astro";
import Storycomponent from "../components/storycomponent.astro";
import ValoresComponent from "../components/valoresComponent.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <Hero2 srcImg = "../images/fundacion5.webp"
    titleHero1 = "Quiénes Somos: "
    titleHero2 = "Compromiso con la Educación y la Comunidad"
    textHero1  = "Conectamos esfuerzos institucionales y sociales para impulsar oportunidades educativas en Yumbo."
    textHero2  = "Conoce nuestra historia, nuestros valores y el equipo que hace posible este proyecto."
    alt = "Grupo de personas uniendo las manos en señal de colaboración y trabajo en equipo para lograr una meta común."/>

    <Aboutcomponent/>

    <!-- <section class="w-full bg-red-800 text-white py-6"> 
        <Storycomponent/>-->
    </section>

    <Misionyvision />
    <ObjetivosComponent/>
    <ValoresComponent />

    <section class="w-full bg-red-800">
        <section class="w-[80%] mx-auto  text-white text-xl p-4 flex flex-col">
            <h1 class="font-bold text-4xl text-center p-4 my-6">Equipo de Trabajo</h1>
            <div class="flex justify-around flex-wrap gap-6">
                <PersonalComponent 
                nombre="CONSTANZA PRADO" 
                cargo="Profesional Administrativo"
                imgPersona="/images/conny.webp"
                profesion="Administradora de Empresas"
                experiencia="Con mas de 15 años de experiencia"/>
    
                <PersonalComponent 
                nombre="ALEXA CAMILA TOVAR" 
                cargo="Profesional Administrativo"
                imgPersona="/images/camila.webp"
                profesion="Administradora de Empresas"
                experiencia="Con mas de 10 años de experiencia"/>
    
                <PersonalComponent 
                nombre="DANIELA MANZANO" 
                cargo="Auxiliar Contable"
                imgPersona="/images/daniela.webp"
                profesion="Técnico en Contabilización de Operaciones Financieras"
                experiencia="Con mas de 5 años de experiencia"/>
    
                <PersonalComponent 
                nombre="YELITZA CORREA" 
                cargo="Auxiliar Contable"
                imgPersona="/images/yelitza.webp"
                profesion="Técnico Laboral Contable"
                experiencia="Con mas de 6 años de experiencia"/>
    
                <PersonalComponent 
                nombre="ADRIANA ENRIQUEZ" 
                cargo="Auxiliar Contable"
                imgPersona="/images/adriana.webp"
                profesion="Técnico en Auxiliar Contable "
                experiencia="Con mas de 15 años de experiencia"/>
    
                <PersonalComponent 
                nombre="MONICA CORAL" 
                cargo="Apoyo Logístico"
                imgPersona="/images/monica.webp"
                profesion="Tecnóloga en Gestión Empresarial"
                experiencia="Con mas de 7 años de experiencia"/>
    
            </div>    
            
        </section>

    </section>

   
</MainLayout>

