---
import HeaderNav from "../components/headerNav.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Sobre nosotros">
    <HeaderNav />
    <h1 class="text-5xl">Sobre nosotros</h1>
</MainLayout>