---

import Aboutcomponent from "../components/aboutcomponent.astro";
import Hero2 from "../components/hero2.astro";
import Storycomponent from "../components/storycomponent.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <Hero2 srcImg = "../images/fundacion5.webp"
    titleHero1 = "Quiénes Somos: "
    titleHero2 = "Compromiso con la Educación y la Comunidad"
    textHero1  = "Conectamos esfuerzos institucionales y sociales para impulsar oportunidades educativas en Yumbo."
    textHero2  = "Conoce nuestra historia, nuestros valores y el equipo que hace posible este proyecto."
    alt = "Grupo de personas uniendo las manos en señal de colaboración y trabajo en equipo para lograr una meta común."/>

    <Aboutcomponent/>

    <section class="w-full bg-red-800 text-white py-6">
        <Storycomponent/>
    </section>

   
</MainLayout>

