---
import HeaderNav from "../components/headerNav.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Estados Finacieros">
    <HeaderNav />
    <h1 class="text-5xl">Estados Finacieros</h1>
</MainLayout>