---
import Hero2 from "../components/hero2.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

    <Hero2 srcImg = "../images/fundacion7.webp"/>

    <section class="flex flex-col items-stretch w-[70%] mx-auto my-6 shadow-lg p-6">
        <h1 class="bg-red-800 text-white text-2xl mb-4 px-2 py-1 text-center rounded-full">Estados Financieros Comparativos</h1>

        <div class="flex justify-around">    
            <div class="text-center">
                <h2 class="text-xl font-semibold mb-4 gap-4">Vigencia</h2>
                <a href="">2024 - 2023</a>
            </div>
        </div>
    </section>
</MainLayout>

