---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/hero.astro';
import Consejo from '../components/consejo.astro';
---

<MainLayout>

	<Hero />

	<Consejo />
	


	<section class="w-full my-6 bg-red-800 text-white">
		
			<div class="flex md:flex-row flex-col w-[80%] mx-auto p-4 justify-around items-center gap-5 ">
				<div class="p-8">
					<img src="/images/estudiantes.webp" alt="">
				</div>	

				<div>
					<h1 class="text-3xl font-semibold mb-6 text-center">Transformando la Educación en Yumbo</h1>
					<p class="mb-4 text-xl">Impulsamos la <span class="font-semibold text-amber-200">educación, la investigación y el
						desarrollo cultural en Yumbo</span> en alianza con la
						Universidad del Valle y otras instituciones.</p>
	
					<p class="mb-8 text-xl">Acompañamos a jóvenes y adultos en su camino hacia la
						<span class="font-semibold text-amber-200">educación superior</span>, brindando oportunidades
						para su crecimiento y desarrollo.</p>
					<a href="/404" class="flex min-w-[300px] max-w-[20%] justify-center mx-auto transition-all bg-red-400 hover:saturate-220
												hover:scale-105 px-4 py-2 rounded-full text-xl">
							Descubre nuestros proyectos
					</a>
				</div>

							
				
			</div>

		
		<br>
	</section>


	<div class="flex md:flex-row flex-col w-[80%] mx-auto gap-4 px-4 py-2 text-gray-800 mb-6">

		<div class="min-w-[50%]">
			<div class="bg-amber-200  rounded-3xl p-4 mb-4">
				<h2 class="text-3xl mb-4 font-semibold">Educación y Oportunidades</h2>
				<p class="text-xl">"Apoyamos la formación de jóvenes en Yumbo a través de becas, mentorías y programas de
					acompañamiento. Creemos en el poder de la educación para transformar vidas."
				</p>
			</div>
	
			<div class="bg-emerald-300 rounded-3xl p-4">
				<h2 class="text-3xl mb-4 font-semibold">Impacto en Números</h2>
				<p class="text-xl">
					"Más de 500 estudiantes beneficiados cada año. $2.876 millones gestionados en educación.
					El 58% de los jóvenes en nuestros programas logran ingresar a la universidad."
				</p>
			</div>

		</div>
		

		<div class="bg-cyan-300 rounded-3xl p-4 ">
			<h1 class="text-3xl mb-4 font-semibold">Alianzas Estratégicas</h1>
			<p class="text-xl">"Nuestra labor es posible gracias a la cooperación con instituciones públicas y privadas que comparten nuestro
				compromiso con la educación. Trabajamos de la mano con la Universidad del Valle, la Gobernación del Valle,
				la Alcaldía de Yumbo, la Fundación Smurfit Kappa, la Cámara de Comercio de Cali, Comfandi, entre otras,
				para fortalecer el acceso a oportunidades educativas y de desarrollo en nuestra comunidad."</p>
		</div>
	</div>

</MainLayout>


