---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/hero.astro';
import Consejo from '../components/consejo.astro';
---

<MainLayout>

	<Hero />

	<Consejo />
	


	<section class="w-full my-6 bg-red-800 text-white">
		
			<div class="flex md:flex-row flex-col w-[80%] mx-auto p-4 justify-around items-center gap-5 ">
				<div class="p-8 view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%]">
					<img src="/images/estudiantes.webp" alt="Encuentro entre estudiantes, padres y docentes de la Fundación Univalle Yumbo para presentar avances de un proyecto educativo.">
				</div>	

				<div class="view-animate-[--subjectReveal] animate-fade-in-left animate-range-[entry_10%_contain_25%]">
					<h1 class="text-4xl font-semibold mb-6 text-center">Transformando la Educación en Yumbo</h1>
					<p class="mb-4 text-xl">Impulsamos la <span class="font-semibold text-amber-200">educación, la investigación y el
						desarrollo cultural en Yumbo</span> en alianza con la
						Universidad del Valle y otras instituciones.</p>
	
					<p class="mb-8 text-xl">Acompañamos a jóvenes y adultos en su camino hacia la
						<span class="font-semibold text-amber-200">educación superior</span>, brindando oportunidades
						para su crecimiento y desarrollo.</p>
					<a href="/projects" class="flex min-w-[300px] max-w-[20%] justify-center mx-auto transition-all bg-red-500 hover:saturate-220
												hover:scale-105 px-4 py-2 rounded-full text-xl">
							Descubre nuestros proyectos
					</a>
				</div>

							
				
			</div>

		
		<br>
	</section>


	<div class="flex flex-wrap justify-center w-[80%] mx-auto gap-4 px-4 py-2 text-gray-800 mb-6 ">

		
			<div class="bg-[#FDE293] group rounded-3xl overflow-hidden basis-md shadow-xl
			view-animate-[--subjectReveal] animate-flip-in-x animate-range-[entry_10%_contain_25%] ">
				<img src="/images/estudiantes2.webp" alt="Estudiantes del proyecto 'Los de la 4 para U' de la Fundación Univalle Yumbo participan en un taller educativo basado en gamificación en los jardines de la universidad"
				class="transition-transform group-hover:scale-110 group-hover:translate-y-[-10px]" >
			
				<h2 class="text-3xl mb-2 font-semibold px-4 pt-2">Educación y Oportunidades</h2>
				<p class="text-xl p-4">"Acompañamos a los jóvenes de Yumbo en su proceso hacia la educación superior
					mediante orientación, acompañamiento académico y alianzas institucionales.
					Creemos en el poder de la educación para transformar vidas.
					Cada paso que damos es un compromiso con su futuro y el desarrollo de nuestra comunidad."
				</p>				
				
			</div>
	
			<div class="bg-[#CEEAD6] group rounded-3xl overflow-hidden basis-md shadow-xl
			view-animate-[--subjectReveal] animate-flip-in-x animate-range-[entry_10%_contain_25%]">
				<img src="/images/convenio2.webp" alt="Docentes y administrativos relacionados con la Fundación Univalle Yumbo participan en un taller sobre políticas públicas en un espacio colaborativo."
				class="transition-transform group-hover:scale-110 group-hover:translate-y-[-10px]" >
				<h2 class="text-3xl mb-2 font-semibold px-4 pt-2">Impacto en Números</h2>
				<p class="text-xl p-4">
					"A lo largo de los años, hemos gestionado múltiples contratos y convenios
					con entidades como la Universidad del Valle, el Ministerio de Educación
					Nacional y la Alcaldía de Yumbo, contribuyendo activamente a proyectos
					educativos y de formación en la región."
				</p>
			</div>

			<div class="bg-[#174EA6] group rounded-3xl text-white overflow-hidden basis-md shadow-xl
			view-animate-[--subjectReveal] animate-flip-in-x animate-range-[entry_10%_contain_25%]">
				<img src="/images/convenio.webp" alt="Integrantes del consejo directivo de la Fundación Univalle Yumbo junto a la CEO de la fundación, compartiendo un momento durante una reunión institucional"
				class="transition-transform group-hover:scale-110 group-hover:translate-y-[-10px]">
				<h1 class="text-3xl mb-2 font-semibold px-4 pt-2">Alianzas Estratégicas</h1>
				<p class="text-xl p-4">"Nuestra labor es posible gracias a la cooperación con instituciones públicas y privadas que comparten nuestro
					compromiso con la educación. Trabajamos de la mano con la Universidad del Valle, la Gobernación del Valle,
					la Alcaldía de Yumbo, la Fundación Smurfit Kappa, la Cámara de Comercio de Cali, Comfandi, entre otras,
					para fortalecer el acceso a oportunidades educativas y de desarrollo en nuestra comunidad."</p>
			</div>

		
		

		
	</div>

</MainLayout>


