---
import HeaderNav from "../components/headerNav.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Proyectos">
    <HeaderNav />
    <h1 class="text-5xl">Proyectos</h1>
</MainLayout>