---

---

<section class="flex flex-col items-center gap-4 my-10 w-[90%] mx-auto">

    <h1 class="text-3xl font-semibold text-gray-700 ">Nuestro Consejo Directivo</h1>
    <div class="flex justify-around gap-10 flex-wrap mt-6">
        <a href="https://www.valledelcauca.gov.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo1.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.univalle.edu.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo2.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.yumbo.gov.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo3.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.portal.fedy.org.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo4.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.ccc.org.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo5.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.comfandi.com.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo6.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.smurfitkappa.com/co" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo7.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
        <a href="https://www.goodyear.com.co/" target="_blank" class="hover:shadow-lg transition-all p-4"><img src="/images/logo8.webp" alt="" class="max-w-[120px] transition-all hover:scale-105 "></a>
    </div>
</section>