---

---

<section class="w-[80%] mx-auto flex flex-col items-center">

    <h1 class="text-3xl font-semibold pb-8">Programa los de la 4 para la U</h1>

    <div class=" flex justify-around items-center pb-6">
        <div>
            <p class="text-2xl">
                <span class="font-semibold">Programa para fortalecer competencias del siglo XXI en ni침os y j칩venes de la Comuna 4</span>,
                mejorando su aprendizaje, resultados en Pruebas Saber y transici칩n a la educaci칩n
                posmedia
            </p>

            <a href="#" class="bg-red-500 px-4 py-2 rounded-3xl text-white flex mx-auto
            w-30 justify-center mt-5 hover:bg-red-600 hover:scale-105 transition-all">Ver mas</a>

        </div>
        
        <lite-youtube videoid="Qx615w6w-rg"></lite-youtube>
    </div>

</section>