---

---

<footer class="flex justify-center w-full bg-gray-700 text-white">

    <div class="flex flex-col items-center justify-around lg:flex-row w-full gap-5" >
        
        <div class="w-full">
            <img src="/images/logFunFooter.webp" alt="" >
        </div>

        <div class="border-b-1 border-b-white  lg:border-r-1 lg:border-r-white p-5 lg:border-b-0 lg:border-b-white py-2 px-5 w-full">
            <h1 class="text-3xl mb-5 text-center lg:text-left">Contacto</h1>
            <ul class="text-center lg:text-left">
                <li>Direccion:</li>
                <li>Telefono:</li>
                <li>Correo Electronico:</li>
                <li>Nuestras redes:</li>
            </ul>
        </div>

        <div class="border-b-1 border-b-white  lg:border-r-1 lg:border-r-white p-5 lg:border-b-0 lg:border-b-white py-2 px-5 w-full">
            <h1 class="text-3xl mb-5 text-center lg:text-left">Enlaces Rapidos</h1>
            <ul class="text-center lg:text-left">
                <li><a href="/" class="hover:border-b-1  hover:border-b-white">Pagina Inicial</a></li>
                <li><a href="/about" class="hover:border-b-1  hover:border-b-white">Sobre Nosotros</a></li>
                <li><a href="/projects" class="hover:border-b-1  hover:border-b-white">Proyectos</a></li>
                <li><a href="financial" class="hover:border-b-1  hover:border-b-white">Estados Financieros</a></li>
            </ul>
        </div>

        <div class="border-b-1 border-b-white  lg:border-r-1 lg:border-r-white p-5 lg:border-b-0 lg:border-b-white py-2 px-5 w-full">
            <h1 class="text-3xl mb-5 text-center lg:text-left">Legal</h1>
            <ul class="text-center lg:text-left">
                <li>Terminos y condiciones</li>
                <li>Politica de privacidad</li>
                <li>Licencia</li>
                <li>Licencia por modificar</li>
            </ul>
        </div>
    </div>

</footer>

<div class="w-full py-4 flex justify-center bg-gray-800 text-white text-lg">
    <p>© 2025 Fundación Educa. Todos los derechos reservados.</p>
</div>