---
import MenuButton from "./icons/menuButton.astro";
import CloseButton from "./icons/closeButton.astro";

---

<header class=" flex justify-around  items-center text-[15px] font-semibold fixed z-101 w-full bg-amber-50">

    <a href="/" class="transition-all hover:scale-105 p-4" id="btnInicio" >
        <img src="/images/logFun.webp" alt="Logo Fundación Univalle Yumbo"
        class="max-w-[200px]">
    </a>
    
    <nav class="hidden lg:flex text-xl">
        <ul class="flex justify-around gap-5">
            <li ><a href="/" class="transition-all hover:bg-red-400
            hover:text-white px-4 py-2 rounded-full">Inicio</a>
            </li>
            
            <li ><a href="/about" class=" transition-all hover:bg-red-400
                hover:text-white px-4 py-2 rounded-full">Sobre Nosotros</a>
            </li>
           
            <li ><a href="/projects" class=" transition-all hover:bg-red-400
                hover:text-white px-4 py-2 rounded-full">Proyectos</a>
            </li>
           
            <li ><a href="/financial" class=" transition-all hover:bg-red-400
                hover:text-white px-4 py-2 rounded-full">Estados Financieros</a>
            </li>
        </ul>
    </nav>

    <MenuButton />    
    
</header>

<nav id="menuHidden" class="block lg:hidden top-[-1000px] opacity-95 w-full h-dvh bg-red-800 fixed z-110 text-white
content-center text-3xl transition-all duration-300 ease-out">
    <CloseButton />

    <ul class="flex flex-col  items-center gap-5">
        <li ><a id="homePage" href="/" class="transition-all hover:bg-red-500
        hover:text-white px-4 py-2 rounded-full">Inicio</a>
        </li>
        
        <li ><a id="aboutPage" href="/about" class=" transition-all hover:bg-red-500
            hover:text-white px-4 py-2 rounded-full">Sobre Nosotros</a>
        </li>
       
        <li ><a id="projectsPage" href="/projects" class=" transition-all hover:bg-red-500
            hover:text-white px-4 py-2 rounded-full">Proyectos</a>
        </li>
       
        <li ><a id="financialPage" href="/financial" class=" transition-all hover:bg-red-500
            hover:text-white px-4 py-2 rounded-full">Estados Financieros</a>
        </li>
    </ul>
</nav>



<script>
    const menuButton = document.querySelector("#menuButton") as HTMLElement | null;
    const menuHidden = document.querySelector("#menuHidden") as HTMLElement | null;
    const closeButton = document.querySelector("#closeButton") as HTMLElement | null;
    const pageButtons = document.querySelectorAll("#menuHidden a");
    const btnInicio = document.querySelector("#btnInicio");

    if (menuButton && menuHidden && closeButton && btnInicio) {
        menuButton.addEventListener("click", () => {
            menuHidden.classList.replace("top-[-1000px]", "top-0");
        });

        closeButton.addEventListener("click", () => {
            menuHidden.classList.replace("top-0","top-[-1000px]", );
        });

        btnInicio.addEventListener("click", () => {
                setTimeout(() => {
                    location.reload();                    
                }, 300);
        });

        pageButtons.forEach((button) => {
            button.addEventListener("click", () => {
                menuHidden.classList.replace("top-0","top-[-1000px]", );
                setTimeout(() => {
                    location.reload();                    
                }, 300);
            });
        });
    }
</script>