---

const {srcImg} = Astro.props;
---

<section class="md:flex-row flex flex-col md:justify-around md: items-center content-center pt-24 px-4 pb-4 w-full bg-amber-800 gap-4">
    <div class="bg-amber-50 grow-2 flex flex-col items-center gap-4 min-w-[350px]">
        <h1 class="text-4xl font-semibold">Hero 2</h1>
        <p>Estamos probando que funcione el titulo 2</p>
    </div>
    <div class="flex max-h-[600px] justify-around bg-lime-400 grow-0">
        <img src={srcImg} alt="" class="object-center object-contain max-w-[60%]" >
    </div>
</section>