---
import ArrowLeft from "./icons/arrowLeft.astro";
import ArrowRight from "./icons/arrowRight.astro";
---

<section class="w-[100%] mx-auto max-w-screen
overflow-hidden text-white slider pt-20" id="slider">

<figure class="relative w-full h-full aspect-video slider-childs " data-active>
    <img src="/images/fundacion1.webp" alt="" class="w-full h-full block object-cover ">

    <div class="absolute inset-0  
    w-[100%] mx-auto h-max 
    flex flex-col items-center
    space-y-4 py-8 bg-linear-to-t from-transparent to-black">
        <h2 class="text-3xl font-bold w-[80%]">Imagen 1</h2>
        <p class="w-[80%] hidden md:block">Esto es una prueba del texto que sale en la imagen
            esse pariatur.</p>
    </div>

</figure>

<figure class="relative w-full h-full aspect-video slider-childs ">
    <img src="/images/fundacion2.webp" alt="" class="w-full h-full block object-cover ">

    <div class="absolute inset-0  
    w-[100%] mx-auto h-max 
    flex flex-col items-center
    space-y-4 py-8 bg-linear-to-t from-transparent to-black">
        <h2 class="text-3xl font-bold w-[80%]">Imagen 2</h2>
        <p class="w-[80%] hidden md:block">Lorem ipsum dolor sit amet
            consectetur, adipisicing elit.
            At accusantium aperiam ex quam
            temporibus ea est rerum saepe
            esse pariatur.</p>
    </div>

</figure>

<figure class="relative w-full h-full aspect-video slider-childs ">
    <img src="/images/fundacion3.webp" alt="" class="w-full h-full block object-cover ">

    <div class="absolute inset-0  
    w-[100%] mx-auto h-max 
    flex flex-col items-center
    space-y-4 py-8 bg-linear-to-t from-transparent to-black">
        <h2 class="text-3xl font-bold w-[80%]">Imagen 3</h2>
        <p class="w-[80%] hidden md:block">Lorem ipsum dolor sit amet
            consectetur, adipisicing elit.
            At accusantium aperiam ex quam
            temporibus ea est rerum saepe
            esse pariatur.</p>
    </div>

</figure>

<button class="slider-preview" data-button="prev">
    <ArrowLeft />
</button>

<button class="slider-next" data-button="next">
    <ArrowRight />
</button>

</section>


<script>
    const slider = document.querySelector('#slider') as HTMLElement;
    const sliderChilds = [...slider.querySelectorAll('figure')];
    const prevButton = document.querySelector("[data-button='prev']") as HTMLElement;
    const nextButton = document.querySelector("[data-button='next']") as HTMLElement;
    const lengthImages = sliderChilds.length;


    sliderChilds.forEach((child, index: any) => {
        child.dataset.idSlider = index;
    });

    function getCurrentImage () {
        const imagen = slider.querySelector("[data-active]");
        return imagen;

    }    
    function removeActiveElement (element: HTMLElement) {
        element = getCurrentImage() as HTMLElement;
        element.removeAttribute("data-active");
    }

    const addNewActiveElement = ( element:HTMLElement )=>{
        element.setAttribute("data-active", "");
    }

    

    prevButton.addEventListener('click', (e)=>{
        const currentImage = getCurrentImage() as HTMLElement;
        let currentActiveIndex:any = currentImage.dataset.idSlider;
        currentActiveIndex -= 1;

        if(currentActiveIndex < 0){
            currentActiveIndex = lengthImages - 1;
        }

        const newActiveElement = sliderChilds[currentActiveIndex];
        removeActiveElement(newActiveElement);
        addNewActiveElement(newActiveElement);
        console.log(getCurrentImage());

    });

    nextButton.addEventListener('click', (e) => {
    const currentImage = getCurrentImage() as HTMLElement;
    let currentActiveIndex: number = Number(currentImage.dataset.idSlider); // Convertir a número
    currentActiveIndex += 1;

    if (currentActiveIndex >= lengthImages) { // Cambié '>' por '>='
        currentActiveIndex = 0;
    }

    const newActiveElement = sliderChilds[currentActiveIndex];  
    if (!newActiveElement) return; // Evitar errores si el elemento es undefined

    removeActiveElement(newActiveElement);
    addNewActiveElement(newActiveElement);
    console.log(getCurrentImage());
});

setInterval(() => {
    const currentImage = getCurrentImage() as HTMLElement;
    let currentActiveIndex: number = Number(currentImage.dataset.idSlider); // Convertir a número
    currentActiveIndex += 1;

    if (currentActiveIndex >= lengthImages) { // Cambié '>' por '>='
        currentActiveIndex = 0;
    }

    const newActiveElement = sliderChilds[currentActiveIndex];  
    if (!newActiveElement) return; // Evitar errores si el elemento es undefined

    removeActiveElement(newActiveElement);
    addNewActiveElement(newActiveElement);
    console.log(getCurrentImage());
}, 6000);


</script>


