---
import MisionIcon from "./icons/misionIcon.astro";
import VisionIcon from "./icons/visionIcon.astro";


---
<h1 class="text-4xl text-center p-4 m-4 font-bold">Misión, Visión, Objetivos y Valores</h1>
<section class="flex justify-around w-[90%] p-6 mx-auto gap-8 flex-wrap text-xl
view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_10%_contain_25%]">

    <div class="relative flex flex-col items-center bg-[#D6ECFF] rounded-2xl mt-10 p-6 lg:basis-lg">

        <div class="border-4 border-sky-300 bg-white rounded-full p-4 absolute top-[-40px]">
            <MisionIcon />
        </div>

        <div class="mt-8">            
            <h1 class="text-4xl text-center my-6 font-semibold">Misión</h1>            
            <p>Nuestra misión es apoyar y fortalecer actividades de investigación, innovación, ciencia,
                transferencia tecnológica, generación de saberes, difusión cultural y deportiva, mediante la
                promoción, financiación y gestión de proyectos de desarrollo, extensión e impacto social definidos
                por la Universidad del Valle y los órganos de gobierno de la Fundación.</p>
        </div>

    </div>

    <div class="relative flex flex-col items-center bg-[#EDFFE8] rounded-2xl mt-10 p-6 lg:basis-lg">

        <div class="border-4 border-emerald-300 bg-white rounded-full p-4 absolute top-[-40px]">
            <VisionIcon />
        </div>

        <div class="mt-8">            
            <h1 class="text-4xl text-center my-6 font-semibold">Visión</h1>            
            <p>Ser reconocidos como una entidad líder en la gestión de proyectos académicos, culturales y sociales
                que impulsen el desarrollo regional, consolidando alianzas estratégicas que fortalezcan la función
                social de la Universidad del Valle y el bienestar de las comunidades.</p>
        </div>

    </div>

</section>