---
import MisionIcon from "./icons/misionIcon.astro";
import VisionIcon from "./icons/visionIcon.astro";


---
<h1 class="text-4xl text-center p-4 m-4 font-bold">Misión, Visión, Objetivos y Valores</h1>
<section class="flex justify-around w-[80%] p-6 mx-auto gap-8 flex-wrap text-xl view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_10%_contain_25%]">

    <div class="relative flex flex-col items-center bg-[#D6ECFF] rounded-2xl mt-10 p-6 basis-lg">

        <div class="border-4 border-sky-300 bg-white rounded-full p-4 absolute top-[-40px]">
            <MisionIcon />
        </div>

        <div class="mt-8">            
            <h1 class="text-4xl text-center my-6 font-semibold">Misión</h1>            
            <p>Impulsamos el desarrollo educativo y social en Yumbo y la región, a través de proyectos, alianzas y apoyo
                académico que abren caminos hacia la educación superior.</p>
        </div>

    </div>

    <div class="relative flex flex-col items-center bg-[#EDFFE8] rounded-2xl mt-10 p-6 basis-lg">

        <div class="border-4 border-emerald-300 bg-white rounded-full p-4 absolute top-[-40px]">
            <VisionIcon />
        </div>

        <div class="mt-8">            
            <h1 class="text-4xl text-center my-6 font-semibold">Visión</h1>            
            <p>Ser una entidad líder en gestión social y educativa, conectando comunidad, universidad,
                sector público y privado para transformar realidades..</p>
        </div>

    </div>

</section>