---
import ObjetivosIcon from "./icons/objetivosIcon.astro";

---

<section class="w-[80%] mx-auto my-12 view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_10%_contain_25%]">
    <div class="relative flex flex-col items-center bg-purple-100 rounded-2xl mt-10 p-6 basis-lg">

        <div class="border-4 border-[#C29BF8] bg-white rounded-full p-4 absolute top-[-40px]">
            <ObjetivosIcon />
        </div>

        <div class="mt-8 text-xl">            
            <h1 class="text-4xl text-center my-6 font-semibold">Objetivos</h1>
            
            <div class="flex justify-around flex-wrap gap-10">

                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Gestión académica</h2>
                    <p>Apoyamos la operación educativa y administrativa de la Universidad del Valle
                        en sus sedes regionales y en procesos clave de su sede principal.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Proyectos sociales</h2>
                    <p>Diseñamos y ejecutamos iniciativas que mejoran la calidad de vida y
                        fomentan la inclusión educativa.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Alianzas estratégicas</h2>
                    <p>Unimos esfuerzos con entidades públicas y privadas para fortalecer
                        el desarrollo local y regional.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Acceso a la educación</h2>
                    <p>Promovemos oportunidades reales para que más jóvenes lleguen y
                        permanezcan en la universidad.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Gestión transparente</h2>
                    <p>Actuamos con eficiencia, claridad y responsabilidad en cada uno
                        de nuestros procesos.</p>
                </div>
            </div>          
        </div>

    </div>
</section>