---
import ObjetivosIcon from "./icons/objetivosIcon.astro";

---

<section class="w-[80%] mx-auto my-12 view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_10%_contain_25%]">
    <div class="relative flex flex-col items-center bg-purple-100 rounded-2xl mt-10 p-6 basis-lg">

        <div class="border-4 border-[#C29BF8] bg-white rounded-full p-4 absolute top-[-40px]">
            <ObjetivosIcon />
        </div>

        <div class="mt-8 text-xl">            
            <h1 class="text-4xl text-center my-6 font-semibold">Objetivos</h1>
            
            <div class="flex justify-around flex-wrap gap-10">

                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Apoyo a la Gestión Universitaria</h2>
                    <p>Apoyar la gestión académica y administrativa de la Universidad del Valle, especialmente en sus sedes
                        regionales, mediante procesos logísticos, contractuales y operativos que faciliten su función educativa
                        y social.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Impulso a Proyectos Estratégicos</h2>
                    <p>Promover, financiar y administrar proyectos de investigación, extensión, innovación, ciencia, cultura y
                        deporte que contribuyan al desarrollo regional y al bienestar de las comunidades.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Alianzas Interinstitucionales</h2>
                    <p>Fomentar alianzas estratégicas con instituciones públicas, privadas y comunitarias para fortalecer la
                        función social universitaria.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Acceso y Permanencia Educativa</h2>
                    <p>Contribuir al acceso y permanencia en la educación superior, especialmente de jóvenes de Yumbo y municipios
                        aledaños, mediante iniciativas que conecten escuela, universidad y territorio.</p>
                </div>
                <div class="basis-[250px]">
                    <h2 class="text-2xl font-semibold py-4">Gestión Transparente y Eficiente</h2>
                    <p>Ejecutar una gestión transparente, eficiente y orientada al impacto social, respetando los principios de
                        responsabilidad institucional y servicio público.</p>
                </div>
            </div>          
        </div>

    </div>
</section>