---
const {nombre, cargo, imgPersona} = Astro.props;
---



    <div class="flex flex-col w-70 rounded-3xl group">
        <div class="relative w-70 h-96 overflow-hidden object-left-bottom rounded-t-3xl">
            <img src={imgPersona} alt="" class="w-full h-full absolute object-cover group-hover:scale-105 transition-all"/>
        </div>
        <div class="bg-white text-black rounded-b-3xl">
            <h2 class="text-center font-semibold pt-2">{nombre}</h2>
            <p class="text-center p-2">{cargo}</p>
        </div>
    </div>


