---

---

<section class="w-full bg-red-800 text-white text-xl">
    <h1 class="font-bold text-3xl text-center p-4">Equipo de Trabajo</h1>
    
    <div class="w-[80%] mx-auto">
        <div class="flex flex-col">
            <div class="relative w-96 h-96 overflow-hidden object-left-bottom">
                <img src="/images/conny.webp" alt="" class=" w-full h-full absolute ">
            </div>
            <h2>Constanza Prado</h2>
            <p>Auxiliar Contable</p>
        </div>
    </div>

</section>