---

---



<h1 class="text-4xl text-center font-bold p-4">Historia de la Fundación</h1>

<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%] ">


    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/inauguracion.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold">Constitución Fundación</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">1994</h2>
    </div>

    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">Con representantes de la Gobernación, la Universidad, el Municipio de Yumbo, sector privado y de la sociedad
            civil para iniciar la apertura a la Sede Yumbo de la Universidad del Valle.</p>

        <p>El primer director de la Fundación, además de gestor y miembro fundador de la sede Univalle Yumbo, el Ingeniero
            Ricaurte Vergara Salcedo</p>
    </div>
</section>




<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-left animate-range-[entry_10%_contain_25%]">

    <div class="text-xl 2xl:basis-7xl">
        
        <p class="mb-6">Compra de terreno por parte de la Fundación (20 hectáreas) con apoyo de la Gobernación del Valle y la Alcaldía de Yumbo</p>
    </div>

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold">Compra de Terreno</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">1996</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/terrenos.webp" alt="" class="rounded-2xl">
    </div>
</section>


<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%] ">


    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio1.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold">Reconstrucción de la Sede</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">1997 - 2010</h2>
    </div>
    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">La Asamblea Departamental aportó $70.000.000 y el Municipio de Yumbo $50.000.000 para la reconstrucción de la
            sede de la Universidad del Valle en Yumbo.</p>

        <p>La Fundación donó oficialmente 71.369,47 m² a la Universidad del Valle. La escritura fue firmada el 29 de noviembre de 2010.</p>
    </div>
</section>


<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-left animate-range-[entry_10%_contain_25%]">

    <div class="text-xl 2xl:basis-7xl">
        
        <p class="mb-6">En 2012 se firma un convenio con el Municipio de Yumbo para apoyar la estructuración de procesos en la Oficina de
            Desarrollo Económico, promoviendo el empleo y el emprendimiento local.</p>
    </div>

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold">Alianza para Empleo y Emprendimiento</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">2012</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/empleo.webp" alt="" class="rounded-2xl">
    </div>
</section>


<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%] ">


    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/yumbenos.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold">Yumbeños Progresando</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">2014</h2>
    </div>
    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">En 2014 se firmó un convenio con el Municipio de Yumbo para implementar el programa “Yumbeños Progresando”,
            brindando apoyo integral a 1.500 familias en situación de pobreza extrema.</p>
    </div>
</section>

<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-left animate-range-[entry_10%_contain_25%]">

    <div class="text-xl 2xl:basis-7xl">
        
        <p class="mb-6">En 2012 se firma un convenio con el Municipio de Yumbo para apoyar la estructuración de procesos en la Oficina de
            Desarrollo Económico, promoviendo el empleo y el emprendimiento local.</p>
    </div>

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold">Obra Educativa y Deportiva</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">2015</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio3.webp" alt="" class="rounded-2xl">
    </div>
</section>


<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%] ">


    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/convsena.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold">Convenio con el SENA</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">2017</h2>
    </div>
    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">En 2017, se firmó un convenio con el SENA para ampliar la cobertura de formación técnica laboral en Yumbo,
            beneficiando a 1.135 jóvenes del municipio.</p>
    </div>
</section>


<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-left animate-range-[entry_10%_contain_25%]">

    <div class="text-xl 2xl:basis-7xl">
        
        <p class="mb-6">En 2019, la Fundación, como parte de la Mesa Intersectorial de Educación de Yumbo, participó en la entrega del
            “Plan Maestro de Educación 2020-2034” al Municipio, como política pública para transformar la educación en el territorio.</p>
    </div>

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold">Entrega del Plan Maestro de Educación</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">2019</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio3.webp" alt="" class="rounded-2xl">
    </div>
</section>

<section class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4 border-b-2 border-gray-400
view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%] ">


    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/grupofundacion2.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold">Fundación en Acción</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">Actualidad</h2>
    </div>
    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">Actualmente, la Fundación continúa su labor desde la sede de la Universidad del Valle en Yumbo,
            apoyando procesos académicos, contrataciones temporales, proyectos sociales, educativos y alianzas interinstitucionales
            para el desarrollo regional.</p>
    </div>
</section>