---

---



<h1 class="text-4xl text-center font-bold p-4">Historia de la Fundación</h1>

<nav class="mb-5">
    <ul class="flex justify-center gap-10 bg-white text-black text-xl font-semibold flex-wrap">
        <li id="btnStory1" class="px-2 py-1 cursor-pointer bg-amber-300 hover:bg-red-400 transition-all">1994</li>
        <li id="btnStory2" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">1996</li>
        <li id="btnStory3" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">1997</li>
        <li id="btnStory4" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">2012</li>
        <li id="btnStory5" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">2014</li>
        <li id="btnStory6" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">2015</li>
        <li id="btnStory7" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">2017</li>
        <li id="btnStory8" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">2019</li>
        <li id="btnStory9" class="px-2 py-1 cursor-pointer hover:bg-red-400 transition-all">Actualidad</li>
    </ul>
</nav>

<section id="cajaStory1" class="w-[80%] flex 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Constitución Fundación</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">1994</h2>
    </div>

    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/inauguracion.webp" alt="" class="rounded-2xl">
    </div>


    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">Con representantes de la Gobernación, la Universidad, el Municipio de Yumbo, sector privado y de la sociedad
            civil para iniciar la apertura a la Sede Yumbo de la Universidad del Valle.</p>

        <p>El primer director de la Fundación, además de gestor y miembro fundador de la sede Univalle Yumbo, el Ingeniero
            Ricaurte Vergara Salcedo</p>
    </div>
</section>


<section id="cajaStory2" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4 
animate-fade-in-up">
    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Compra de Terreno</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">1996</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/terrenos.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-xl 2xl:basis-7xl">        
        <p>Compra de terreno por parte de la Fundación (20 hectáreas) con apoyo de la Gobernación del Valle y la Alcaldía de Yumbo</p>
    </div>

</section>


<section id="cajaStory3" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Reconstrucción de la Sede</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold my-4">1997 - 2010</h2>
    </div>

    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio1.webp" alt="" class="rounded-2xl">
    </div>

    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p class="mb-6">La Asamblea Departamental aportó $70.000.000 y el Municipio de Yumbo $50.000.000 para la reconstrucción de la
            sede de la Universidad del Valle en Yumbo.</p>

        <p>La Fundación donó oficialmente 71.369,47 m² a la Universidad del Valle. La escritura fue firmada el 29 de noviembre de 2010.</p>
    </div>
</section>


<section id="cajaStory4" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Alianza para Empleo y Emprendimiento</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">2012</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/empleo.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-xl 2xl:basis-7xl">        
        <p>En 2012 se firma un convenio con el Municipio de Yumbo para apoyar la estructuración de procesos en la Oficina de
            Desarrollo Económico, promoviendo el empleo y el emprendimiento local.</p>
    </div>

</section>


<section id="cajaStory5" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Yumbeños Progresando</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">2014</h2>
    </div>

    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/yumbenos.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p>En 2014 se firmó un convenio con el Municipio de Yumbo para implementar el programa “Yumbeños Progresando”,
            brindando apoyo integral a 1.500 familias en situación de pobreza extrema.</p>
    </div>
</section>

<section id="cajaStory6" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Obra Educativa y Deportiva</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">2015</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio3.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-xl 2xl:basis-7xl">
        
        <p>En 2012 se firma un convenio con el Municipio de Yumbo para apoyar la estructuración de procesos en la Oficina de
            Desarrollo Económico, promoviendo el empleo y el emprendimiento local.</p>
    </div>

</section>


<section id="cajaStory7" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Convenio con el SENA</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">2017</h2>
    </div>

    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/convsena.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p>En 2017, se firmó un convenio con el SENA para ampliar la cobertura de formación técnica laboral en Yumbo,
            beneficiando a 1.135 jóvenes del municipio.</p>
    </div>
</section>


<section id="cajaStory8" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Entrega del Plan Maestro de Educación</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">2019</h2>
    </div>
            
            
    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl">
        <img src="/images/edificio3.webp" alt="" class="rounded-2xl">
    </div>

    <div class="text-xl 2xl:basis-7xl">
        
        <p>En 2019, la Fundación, como parte de la Mesa Intersectorial de Educación de Yumbo, participó en la entrega del
            “Plan Maestro de Educación 2020-2034” al Municipio, como política pública para transformar la educación en el territorio.</p>
    </div>

</section>

<section id="cajaStory9" class="w-[80%] hidden 2xl:flex-row flex-col mx-auto justify-around gap-5 items-center  p-4
animate-fade-in-up">

    <div class="text-center 2xl:basis-xl">        
        <h1 class="text-3xl 2xl:text-4xl font-bold mb-2">Fundación en Acción</h1>
        <h2 class="text-xl 2xl:text-2xl font-semibold">Actualidad</h2>
    </div>

    <div class="2xl:basis-2xl sm:w-full md:w-[70%] shadow-2xl ">
        <img src="/images/grupofundacion2.webp" alt="" class="rounded-2xl border-2 border-white">
    </div>

    
    <div class="text-xl 2xl:basis-7xl">
        
        <span class="font-semibold text-amber-200"></span>

        <p>Actualmente, la Fundación continúa su labor desde la sede de la Universidad del Valle en Yumbo,
            apoyando procesos académicos, contrataciones temporales, proyectos sociales, educativos y alianzas interinstitucionales
            para el desarrollo regional.</p>
    </div>
</section>


<script>
    const btnStoryA = document.querySelector('#btnStory1') as HTMLElement;
    const btnStoryB = document.querySelector('#btnStory2') as HTMLElement;
    const btnStoryC = document.querySelector('#btnStory3') as HTMLElement;
    const btnStoryD = document.querySelector('#btnStory4') as HTMLElement;
    const btnStoryE = document.querySelector('#btnStory5') as HTMLElement;
    const btnStoryF = document.querySelector('#btnStory6') as HTMLElement;
    const btnStoryG = document.querySelector('#btnStory7') as HTMLElement;
    const btnStoryH = document.querySelector('#btnStory8') as HTMLElement;
    const btnStoryI = document.querySelector('#btnStory9') as HTMLElement;

    const cajaStoryA = document.querySelector('#cajaStory1') as HTMLElement;
    const cajaStoryB = document.querySelector('#cajaStory2') as HTMLElement;
    const cajaStoryC = document.querySelector('#cajaStory3') as HTMLElement;
    const cajaStoryD = document.querySelector('#cajaStory4') as HTMLElement;
    const cajaStoryE = document.querySelector('#cajaStory5') as HTMLElement;
    const cajaStoryF = document.querySelector('#cajaStory6') as HTMLElement;
    const cajaStoryG = document.querySelector('#cajaStory7') as HTMLElement;
    const cajaStoryH = document.querySelector('#cajaStory8') as HTMLElement;
    const cajaStoryI = document.querySelector('#cajaStory9') as HTMLElement;

    btnStoryA.addEventListener('click', ()=>{
        cajaStoryA.classList.remove("hidden");
        cajaStoryA.classList.add("flex");
        btnStoryA.classList.add("bg-amber-300");
        
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryB.addEventListener('click', ()=>{
        cajaStoryB.classList.remove("hidden");
        cajaStoryB.classList.add("flex");
        btnStoryB.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryC.addEventListener('click', ()=>{
        cajaStoryC.classList.remove("hidden");
        cajaStoryC.classList.add("flex");
        btnStoryC.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryD.addEventListener('click', ()=>{
        cajaStoryD.classList.remove("hidden");
        cajaStoryD.classList.add("flex");
        btnStoryD.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryE.addEventListener('click', ()=>{
        cajaStoryE.classList.remove("hidden");
        cajaStoryE.classList.add("flex");
        btnStoryE.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryF.addEventListener('click', ()=>{
        cajaStoryF.classList.remove("hidden");
        cajaStoryF.classList.add("flex");
        btnStoryF.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryG.addEventListener('click', ()=>{
        cajaStoryG.classList.remove("hidden");
        cajaStoryG.classList.add("flex");
        btnStoryG.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryH.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryH.addEventListener('click', ()=>{
        cajaStoryH.classList.remove("hidden");
        cajaStoryH.classList.add("flex");
        btnStoryH.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryI.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryI.classList.remove("bg-amber-300");

    });

    btnStoryI.addEventListener('click', ()=>{
        cajaStoryI.classList.remove("hidden");
        cajaStoryI.classList.add("flex");
        btnStoryI.classList.add("bg-amber-300");
        
        cajaStoryA.classList.add("hidden");
        cajaStoryB.classList.add("hidden");
        cajaStoryC.classList.add("hidden");
        cajaStoryD.classList.add("hidden");
        cajaStoryE.classList.add("hidden");
        cajaStoryF.classList.add("hidden");
        cajaStoryG.classList.add("hidden");
        cajaStoryH.classList.add("hidden");

        btnStoryA.classList.remove("bg-amber-300");
        btnStoryB.classList.remove("bg-amber-300");
        btnStoryC.classList.remove("bg-amber-300");
        btnStoryD.classList.remove("bg-amber-300");
        btnStoryE.classList.remove("bg-amber-300");
        btnStoryF.classList.remove("bg-amber-300");
        btnStoryG.classList.remove("bg-amber-300");
        btnStoryH.classList.remove("bg-amber-300");

    });
</script>