---
import ValoresIcon from "./icons/valoresIcon.astro";
---

<section class="relative flex justify-around items-center bg-[#fceab5] rounded-2xl mt-10 p-6 w-[80%] lg:w-[50%] mx-auto flex-col lg:gap-8 lg:flex-row 2xl:gap-2 mb-6
view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_10%_contain_25%]">

    <div class="flex flex-col items-center content-center">    

        <div class="border-4 border-amber-400 bg-white rounded-full p-4 lg:relative lg:top-0 absolute top-[-40px] ">
            <ValoresIcon />
        </div>
        <h1 class="text-4xl text-center my-6 font-semibold">Valores</h1>
    </div>

    <div class="text-xl basis-lg">
        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Compromiso Institucional</h2>
            <p>Trabajamos con vocación de servicio y responsabilidad, apoyando los fines académicos y sociales
                de la Universidad del Valle.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Equidad</h2>
            <p>Promovemos oportunidades inclusivas y justas para el acceso al conocimiento y al desarrollo.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Transparencia</h2>
            <p>Mantenemos una gestión clara, ética y abierta a la comunidad.</p>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Colaboración</h2>
            <p>Construimos alianzas con actores diversos para lograr un mayor impacto colectivo.</p>
        </div>

        <div>
            <h2 class="text-2xl font-semibold mb-2">Innovación Social</h2>
            <p>Apoyamos iniciativas creativas que transformen realidades en educación, ciencia y cultura.</p>
        </div>

    </div>
</section>
