@import "tailwindcss";

@layer components {
    .slider{
        @apply grid;
        grid-template-areas: "slide";
    }

    .slider-childs{
        //@apply before:absolute before:inset-0 before:bg-amber-700;
        grid-area: slide;
        transition: .1s clip-path .6s;
        clip-path: polygon(50% 0%, 50% 100%, 50% 100%);
    }

    [data-active]{
        order: 1;
        transition: .6s clip-path;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .slider-preview{
        grid-area: slide;
        @apply z-[100] self-center justify-self-start ml-4;
    }

    .slider-next{
        grid-area: slide;
        @apply z-[100] self-center justify-self-end mr-4;
    }
}