---
import '../css/global.css'
import { ClientRouter } from "astro:transitions";
import HeaderNav from "../components/headerNav.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <ClientRouter /> -->
		<title>Fundación Univalle Yumbo</title>
	</head>
	<body class="bg-white">
		<HeaderNav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>


