---
import '../css/global.css'
import { ClientRouter } from "astro:transitions";
import HeaderNav from "../components/headerNav.astro";
import Footer from "../components/footer.astro";
const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<HeaderNav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>


